.home-header{
    display: flex;
    flex-direction: column;
    background: #5c5470;
    padding: 20px 12px;
    width: 26%;
    height: 58%;
    gap: 26px;
    border-radius: 12px;

}
.home-container{
    align-items: center;
    justify-content: center;
    height: 93vh;
    width: 100%;
    display: flex;
    
}
.home-title{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.mentors-list{
    background: #dbd8e3;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
}
.mentors-list:hover{
    color: white;
    background-color: #352f44;
}