*{
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.Nav-header{
  display: flex;
  background-color: #2a2438;
  padding: 25px 12px;
  gap: 20px;
}
.nav-mentor{
  color: white;
}
.nav-logo{
  color: white;
}


.work-container{
  flex: 3;
}

.sidebar-container{
  flex: 1;
  display: flex;
    /* background: #dbd8e3; */
    flex-direction: column;
    gap: 20px;
}
.sidebar-list{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.sidebar-header{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.student-sidebar-list{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: #dbd8e3;
  padding: 29px 13px;
  border-radius: 18px;
}
.student-sidebar-list:hover{
  background-color: #5c5470;
  color: white;
  cursor: pointer;
}