* {
  padding: 0;
  margin: 0;
}

.Nav-header {
  display: flex;
  background-color: #2a2438;
  padding: 25px 12px;
  gap: 20px;
  justify-content: space-between;
}
.nav-mentor {
  color: white;
}
.nav-logo {
  color: white;
}

/* work container  */
.work-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* sidebar csss */
.sidebar-container {
  flex: 1;
  display: flex;
  /* background: #dbd8e3; */
  flex-direction: column;
  gap: 20px;
}
.sidebar-list {
  padding: 10px 10px;
  flex: 1; /* to be removed*/
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.student-sidebar-list {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: #dbd8e3;
  padding: 29px 13px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
}
.student-sidebar-list:hover {
  background-color: #5c5470;
  color: white !important;
  cursor: pointer;
}
.student-sidebar-list:hover .student-sidebar-icons button {
  color: white;
}
.no-student-text {
  padding: 10px 25px;
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 20px;
}
.sidebar-header-title{
  text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

/* marks */

.marks-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.marks-header{
  border-radius: 24px;
  /* background: aquamarine; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  height: 70%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.marks-title{
  font-size: 14px;
  font-weight: 600;
}
.marks-row{
  width: 210px;
}

.circular-progress{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sidebar-container{
      border-bottom: 1px solid black;
      padding-bottom: 20px;
  }
}